.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.493);
  border-radius: 4px;
  &__header {
    display: flex;
    height: 40px;
    padding: 8px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.493);
  }
  &__body {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 8px;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}
