.history {
  &__container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 448px;
    z-index: 450;
    background: white;
    display: flex;
    flex-direction: column;
  }
  &__backdrop {
    position: fixed;
    background-color: #000;
    opacity: 0.1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 400;
  }
  &__header {
    position: relative;
    padding: 16px 12px 16px 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__close {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 12px;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
  }
  &__body {
    padding: 12px 24px;
    width: 100%;
    overflow: auto;
    order: 1;
    flex-grow: 1;
    .card {
      margin-top: 8px;
    }
  }
  &__card-body {
    display: flex;
    flex-direction: column;
    .star-rating {
      justify-content: center;
    }
  }
}

.fade-transtion-enter-active,
.fade-transtion-leave-active {
  transition: opacity 0.4s;
}
.fade-transtion-enter,
.fade-transtion-leave-to {
  opacity: 0;
}

.right-fade-in-transtion-small-enter-active,
.right-fade-in-transtion-small-leave-active {
  transition: opacity 0.4s;
  transition: right 0.4s;
}

.right-fade-in-transtion-small-enter,
.right-fade-in-transtion-small-leave-to {
  right: -448px;
}

div {
  box-sizing: border-box;
}
